*{
    margin: 0;
    padding: 0;
}
body{
    background-color: cadetblue;
    color: rgb(0, rgb(58, 146, 58), rgb(110, 110, 232));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-weight: 200;
    line-height: 50px;

}
.box{
    width: 100px;
    margin: auto;
}
.you{
 background-color: brown;
 color: aqua;
 border: 3px rgb(106, 106, 218) double;
}
.box h1{
    color: black;
    margin: auto;
}
.lists{
    background-color: aqua;
    margin: auto;
    text-align: center;
}
